<div class="card">
    <!--begin::Card body-->
    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
    <div class="card-body border-top p-9">
        <div class="row mb-6">
            <div class="col-lg-8">
                <label class="form-label required fw-semibold fs-6 py-2">Title: </label>
                <input type="text" name="title" [(ngModel)]="title" class="form-control form-control-lg form-control-solid" placeholder="Example : The best tablet Collection 2024">
            </div>
            <div class="col-lg-6">
                <label class="form-label fw-semibold fs-6 py-2">Label: (Optional)</label>
                <input type="text" name="label" [(ngModel)]="label" class="form-control form-control-lg form-control-solid" placeholder="Example : Starting at $999.00">
            </div>
            <div class="col-lg-6">
                <label class="form-label required fw-semibold fs-6 py-2">Subtitle: </label>
                <input type="text" name="subtitle" [(ngModel)]="subtitle" class="form-control form-control-lg form-control-solid" placeholder="Example : Exclusive offer -%50 off this week">
            </div>

            
        </div>
        <div class="row mb-6">
            <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                <label class="form-label required">Upload your image: (PNG)</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div class="mt-3">
                    <img class="img py-4" [src]="imagen_previsualiza" width="200" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <label class="form-label fw-semibold fs-6 py-2">Link: (Optional)</label>
                <input type="text" name="link" [(ngModel)]="link" class="form-control form-control-lg form-control-solid" placeholder="Example : http://dominio.com">
                <div class="col-lg-4">
                <label for="etiqueta_especial" class="required fw-bold fs-6 mb-2">Color: </label>
                    <input class="form-control" type="color" id="color" name="color" [(ngModel)]="color" style="height: calc(3.25rem + 2px); padding: .575rem .75rem;" />
                </div>
            </div>
        </div>
        
        <div class="row mb-6">
            <div class="col-3">
                <button class="btn btn-primary" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>
