<div class="card">
    <!-- Loading Spinner -->
    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
    
    <!-- Card Header -->
    <div class="card-header border-0 pt-6" style="display: inline !important;">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="card-title">
                            <div class="d-flex align-items-center position-relative my-1">
                                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                <input type="text" (keyup.enter)="searchTo()" [(ngModel)]="search" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search Product">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <select class="form-control form-select-solid fw-bolder" 
                        name="marca" 
                        [(ngModel)]="marca_id" 
                        placeholder="Select Brands">
                            <option value="">Select Brands</option>
                            <ng-container *ngFor="let item of marcas">
                                <option [value]="item.id">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    
                </div>
            </div>
            
            <!-- Brand and Department Filter -->
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <select class="form-control form-select-solid fw-bolder" 
                        name="department" 
                        [(ngModel)]="categorie_first_id"
                        placeholder="Select Department"
                        (change)="changeDepartament()">
                            <option value="">Select Department</option>
                            <ng-container *ngFor="let item of categories_first">
                                <option [value]="item.id">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    
                    <div class="col-4">
                        <select class="form-control form-select-solid fw-bolder" 
                        name="category" 
                        [(ngModel)]="categorie_second_id" 
                        placeholder="Select Category" 
                        (change)="changeCategorie()">
                        
                            <option value="">Select Category</option>
                            <ng-container *ngFor="let item of categories_seconds_backs">
                                <option [value]="item.id">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    
                    <div class="col-4">
                        <select class="form-control form-select-solid fw-bolder" 
                        name="subcategory" 
                        [(ngModel)]="categorie_third_id" 
                        placeholder="Select Subcategory" 
                        (change)="changeCategorie()">
                        
                            <option value="">Select Subcategory</option>
                            <ng-container *ngFor="let item of categories_thirds_backs">
                                <option [value]="item.id">{{item.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                    
                </div>
            </div>
            
            <!-- Add Product Button -->
            <div class="col-3">
                <a routerLink="/products/register" class="btn btn-primary me-2">
                    <i class="ki-duotone ki-plus fs-2"></i> Add Products
                </a>
            
                <a (click)="searchTo()" class="btn btn-dark">
                    <i class="ki-duotone ki-magnifier fs-2"></i> Search
                </a>
            </div>
            
            
        </div>
    </div>
    
    <div class="card-body py-4">
        <div id="kt_table_users_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" id="kt_table_users">
                    <thead>
                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0" role="row">
                            <!-- Table Headers -->
                            <th class="min-w-15px dt-orderable-asc dt-orderable-desc" data-dt-column="0">
                                <span class="dt-column-title" role="button">Imagen</span>
                            </th>
                            <th class="min-w-15px dt-orderable-asc dt-orderable-desc" data-dt-column="0">
                                <span class="dt-column-title" role="button">Title</span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="1">
                                <span class="dt-column-title" role="button">Prices</span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="4">
                                <span class="dt-column-title" role="button">Brand</span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="2">
                                <span class="dt-column-title" role="button">Department</span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="2">
                                <span class="dt-column-title" role="button">Category</span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="2">
                                <span class="dt-column-title" role="button">Subcategory</span>
                            </th>
                            <th class="min-w-125px dt-orderable-asc dt-orderable-desc" data-dt-column="3">
                                <span class="dt-column-title" role="button">Status</span>
                            </th>
                            <th class="text-end min-w-100px dt-orderable-none" data-dt-column="6">
                                <span class="dt-column-title">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold">
                        <ng-container *ngFor="let product of products">
                            <tr>
                                <!-- Image -->
                                <td>
                                    <div class="symbol symbol-50px" *ngIf="product.imagen">
                                        <img [src]="product.imagen" alt="">
                                    </div>
                                </td>

                                <!-- Title -->
                                <td>
                                    <div class="d-flex justify-content-start flex-column">
                                        <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{product.title}}</a>
                                        <span class="text-muted fw-semibold text-muted d-block fs-7">{{product.sku}}</span>
                                    </div>
                                </td>
                                
                                <!-- Prices -->
                                <td>
                                    <span>{{product.price_ars}} ARS / {{product.price_usd}} USD</span>
                                </td>
                                
                                <!-- Brand -->
                                <td>
                                    <span>{{product.brand.name}}</span>
                                </td>

                                <!-- Department -->
                                <td>
                                    <span>{{product.categorie_first.name}}</span>
                                </td>

                                <!-- Category -->
                                <td>
                                    <span *ngIf="product.categorie_second">{{product.categorie_second.name}}</span>
                                </td>

                                <!-- Subcategory -->
                                <td>
                                    <span *ngIf="product.categorie_third">{{product.categorie_third.name}}</span>
                                </td>

                                <!-- Status -->
                                <td>
                                    <span class="badge badge-light-warning fs-7 fw-bold" *ngIf="product.status == 1">Pending</span>
                                    <span class="badge badge-light-success fs-7 fw-bold" *ngIf="product.status == 2">Public</span>
                                </td>

                                <!-- Actions -->
                                <td class="text-end">
                                    <a [routerLink]="'/products/list/edit/'+product.id" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                        <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i>
                                    </a>
                                    <a href="#" onclick="return false;" (click)="deleteProduct(product)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                        <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span></i>
                                    </a>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

                <!-- Pagination -->
                <ngb-pagination
                    [collectionSize]="totalPages"
                    [(page)]="currentPage"
                    [pageSize]="25"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="loadPage($event)"
                ></ngb-pagination>
            </div>
        </div>
    </div>
</div>
